{% extends 'core/base.html' %}

{% block title %}About |{% endblock %}
{% block content %}
<section class="section">
    <div class="container">
      
       <h1>About this project - 24Crafts.</h1><br>
       <p>We want to make this project available for an individual that aspires to become an actor, director whatever he wants to become
        In Cinema Industry there is no certain definition for the CINEMA.</p><br>
        <p>That is why movies with a template doesnt do much.. we need to stir up the making process for your next movie.</p>
        <br><h2>So people... lets REDEFINE CINEMA!!</h2>
       
    </div>
  </section>
{% endblock %}